.checkout{ 
    display: flex;
    padding: 20px;
}
.checkout_add{

  width:100%;
   margin-bottom: 20px;
}

.checkout_title{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    align-items: center;
}
.checkoutProduct img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutProduct_info{
    padding-left: 20px;

}

.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct_price{
 margin:20px 0px;
}

.checkoutProduct_info button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;

}


.checkout_right{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: sticky;
    top: 100px;
}
 

.checkout_right button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 7px 20px;
    cursor: pointer;

}


