.products_wrap{
    display:grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    margin-top: -150px;
    
}
.products_wrap .product{
    background-color: #fff;
    padding: 10px;
    margin: 0px 5%;
    width: 90%;
    text-align: center;
    box-shadow: 0px 0px 10px grb( 0 0 0 /37%);
}

.products_wrap .product img {
    max-width: 100%;
}

.products_wrap .product p{
    color: #cd9042;
    margin: 0px;
    margin-bottom: 10px;
}

.products_wrap .product button{
    background: #cd9042;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}